# Auto detect text files and perform LF normalization
* text=auto

# Exclude anything that might be mis-identified as Makefile
** linguist-detectable=false
**/* linguist-detectable=false

# Exclude script-like files in scripts/
scripts/** linguist-detectable=false

**/Makefile linguist-detectable=false

# Rust
*.rs linguist-detectable=true linguist-language=Rust
